<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{css/style.min.css}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="wrapper">
    <main class="page">
        <header class="header">
            <div class="header__container _container">
                <div class="header__contact">
                    <a href="tel:123456789">
                        <span class="fa fa-phone"></span>
                        123 456 789
                    </a>
                </div>
                <div class="header__body">
                    <div class="header__logo">
                        <a href="" class="header__logo"><img th:src="@{/img/logo.svg}" alt="" /></a>
                    </div>
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__menu menu">
                        <nav class="menu__nav">
                            <ul class="menu__list">
                                <li>
                                    <a th:href="@{/}" id="home" class="menu__link _active">HOME</a>
                                </li>
                                <li>
                                    <a th:href="@{/movies}" id="movies" class="menu__link">WHAT IS ON</a>
                                </li>
                                <li><a th:href="@{/news}" id="news" class="menu__link">NEWS</a></li>
                                <li th:switch="${session.userRole}">
                                    <a th:case="null" th:href="@{/login}" id="about" class="menu__link">LOGIN</a>
                                    <a th:case="'admin'" th:href="@{/logout}" class="menu__link">ADMIN</a>
                                    <a th:case="*" th:href="@{/logout}" th:text="${session.userRole}" class="menu__link">USER</a>
                                </li>
                                <li>
                                    <a th:href="@{/contact}" id="contact" class="menu__link"
                                    >CONTACT US</a
                                    >
                                </li>
                            </ul>
                            <ul class="menu__social">
                                <li>
                                    <a href=""><span class="fa fa-facebook-f"></span></a>
                                </li>
                                <li>
                                    <a href=""><span class="fa fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href=""><span class="fa fa-instagram"></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="login">
            <div class="login__container _container">
                <h1 class="login__title">Login</h1>
                <form th:action="@{/new}" th:object="${movie}" th:method="post" class="login__form">
                    <div class="login__item">
                        <label for="name">Name</label>
                        <input th:field="*{name}" type="text" class="login__input" name="name" id="name">
                    </div>
                    <div class="login__item">
                        <label for="genre">Genre</label>
                        <input th:field="*{genre}" type="text" class="login__input" name="genre" id="genre">
                    </div>
                    <div class="login__item">
                        <label for="ageLimit">Age limit</label>
                        <input th:field="*{ageLimit}" type="text" class="login__input" name="ageLimit" id="ageLimit">
                    </div>
                    <div class="login__item">
                        <label for="rating">Rating</label>
                        <input th:field="*{rating}" type="number" class="login__input" name="rating" id="rating">
                    </div>
                    <div class="login__item">
                        <label for="shortDescription">Short Description</label>
                        <textarea th:field="*{shortDescription}" class="login__input" name="shortDescription" id="shortDescription"></textarea>
                    </div>
                    <div class="login__item">
                        <label for="Description">Description</label>
                        <textarea th:field="*{description}" class="login__input" name="Description" id="Description"></textarea>
                    </div>
                    <div class="login__item">
                        <label for="Duration">Duration</label>
                        <input th:field="*{duration}" type="text" class="login__input" name="Duration" id="Duration">
                    </div>
                    <div class="login__item">
                        <label for="youtubeRef">Youtube reference</label>
                        <input th:field="*{youtubeRef}" type="text" class="login__input" name="youtubeRef" id="youtubeRef">
                    </div>
                    <div class="login__item">
                        <label for="Director">Director</label>
                        <input th:field="*{directorName}" type="text" class="login__input" name="Director" id="Director">
                    </div>
                    <div class="login__item">
                        <label for="isItNew">Is it new</label>
                        <input th:field="*{isItNew}" type="text" class="login__input" name="isItNew" id="isItNew">
                    </div>
                    <div class="login__item">
                        <div class="login__button">
                            <input type="submit" value="Create">
                        </div>
                        <div class="login__button">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                            <input type="submit" value="Or sign-in with Google">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container _container">
            <div class="footer__body">
                <div class="footer__column">
                    <div class="footer__title">GET IN TOUCH</div>
                    <ul class="footer__list">
                        <li><a href="index.html" class="footer__link">Home</a></li>
                        <li><a href="movies.html" class="footer__link">Movies</a></li>
                        <li><a href="news.html" class="footer__link">News</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="footer__title">ABOUT OUR ORGANISATION</div>
                    <ul class="footer__list">
                        <li><a href="contact.html" class="footer__link">About</a></li>
                        <li><a href="contact.html" class="footer__link">FAQs</a></li>
                        <li><a href="contact.html" class="footer__link">Contact us</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="footer__title">LEGAL STUFF</div>
                    <ul class="footer__list">
                        <li><a href="contact.html" class="footer__link">FAQs</a></li>
                        <li>
                            <a href="contact.html" class="footer__link">Give us feedback</a>
                        </li>
                        <li><a href="contact.html" class="footer__link">Contact us</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="footer__title">CONNECT WITH US</div>
                    <ul class="footer__list">
                        <li>
                            <a href="" class="footer__link"
                            ><span class="fa fa-facebook-f"></span>Facebook</a
                            >
                        </li>
                        <li>
                            <a href="" class="footer__link"
                            ><span class="fa fa-twitter"></span>Twitter</a
                            >
                        </li>
                        <li>
                            <a href="" class="footer__link"
                            ><span class="fa fa-instagram"></span>Instagram</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">2022 © Amanis Paltiyeva</div>
        </div>
    </footer>

</div>
<div class="popup popup_popup">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close"></div>
        </div>
    </div>
</div>
<div class="popup popup_massagename-message">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close"></div>
        </div>
    </div>
</div>
<div class="popup popup_video">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close popup__close_video"></div>
            <div class="popup__video _video"></div>
        </div>
    </div>
</div>

<script th:src="@{https://kit.fontawesome.com/68898b3846.js}" crossorigin="anonymous"></script>
<!-- Swiper -->
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<script th:src="@{js/vendors.min.js}"></script>
<script th:src="@{js/app.min.js}"></script>
</body>

</html>